*{
    font-family: "Poppins", sans-serif;
}

.header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.LogoutBtn{
    background-color: rgb(185, 12, 12);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.LogoutBtn:hover{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

#post-container{
    width: 90%;
    background-color:rgb(203, 184, 187);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post{
    width: 60%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(255, 250, 250);
    border-radius: 8px;
    
}

.post-header{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.post-user-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-username{
    margin: 0;
}

.posted-time{
    color: rgb(108, 89, 89);
    font-size: 12px;
}

.post-image{
    display : flex;
    justify-content: center;
}

.post-image img{
    width: 50%;
    border-radius: 8px;
    margin: 15px;
}
.comment{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.comment-user-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-text-container{
    background-color:rgb(139, 190, 155);
    padding: 10px;
    border-radius: 8px;
}
.comment-text-container h4,p{
    margin: 0;
}
.comment-text-container h4{
    margin-bottom: 5px;
}

.postComment-holder{
    display: flex;
    gap: 10px;
    width: 90%;
    margin: 15px;
}

.post-comment-input-field-holder{
    width: 60%;
}

.postComment-input-field{
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    width: 80%;
    border-radius: 5px;
    background-color: thistle;
}

.postComment-btn{
    background-color: rgb(185, 12, 12);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}